::-webkit-scrollbar {
    width: 10px;
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: linear-gradient(to top, #485563, #29323c);
}

::-webkit-scrollbar-track {
    background-color: #000;
    border-radius: 10px;
    background: linear-gradient(
        to top,
        #201c29,
        #201c29 1px,
        #100e17 1px,
        #100e17
    );
}

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #191919 !important;
    background-image: linear-gradient(to top, #8e9eab, #99aab8, #8e9eab) !important;
}
